.col {
    display: flex;
    flex-direction: column;
}

.cCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.line {
    display: flex;
    flex-grow: 1;
    gap: 15px
}

.lLine {
    display: flex;
    gap: 15px;
}

.subText {
    font-size: 16px;
}

.showEffect {
    animation: attention .5s linear 5;
}

@keyframes attention {
    0% {
        margin-bottom: 0;
    }

    50% {
        margin-bottom: 8px;
    }

    100% {
        margin-bottom: 0;
    }
}

.logoImage {
    background-position: center;
    background-size: cover;
}

.logoImage.white {
    background-image: url(../img/logo/White.png);
}

.logoImage.black {
    background-image: url(../img/logo/Black.png);
}

.logoImage.colored {
    background-image: url(../img/logo/Colored.png);
}