@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: "Segoe Fluent Icons";
    src: url(../fonts/SegoeFluentIcons.ttf);
}

:root {
    --primary: #292ccc;
    --transPrimary: #292ccc77;
    --primaryColor: #f0f8ff;
    --wallpaperColor: #000000;
    --wallpaperOpacity: 1;
    --watchColor: #f0f8ff;
    --wallpaperImg: transparent;
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 120px;
    background-color: var(--primary);
}

::-webkit-scrollbar {
    appearance: none;
    width: 10px;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: "Quicksand", sans-serif;
    accent-color: var(--primary);
    user-select: none;
}

pre {
    user-select: text;
}

.dnc {
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

input[type="text"],
input[type="number"] {
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    font-family: "Quicksand";
    border-radius: 4px;
    background-color: #595959;
    color: aliceblue;
    border: 1px solid #494949;
    border-bottom: 2px solid #494949;
    box-sizing: border-box;
    transition-duration: .2s;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #a0a0a0;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-bottom-color: var(--primary);
    box-shadow: 0 0 12px 2px var(--primary);
}

input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: var(--primary);
}

input[type="checkbox"]::after {
    width: 20px;
    height: 20px;
    font-family: "Segoe Fluent Icons";
    content: 'î„‹';
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    opacity: 0;
    transition-duration: .15s;
    font-size: 14px;
}

input[type="checkbox"]:active:after {
    scale: 0.7;
}

input[type="checkbox"]:checked:after {
    opacity: 1;
}

.colorLabel {
    z-index: 2;
    appearance: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    background-color: var(--primary);
    border-radius: 4px;
}

.phoneTurn {
    display: none;
}

section {
    animation: hubOpening .4s;
    transition-duration: .4s;
}

button {
    font-family: "Quicksand", sans-serif;
}

f-icon {
    font-family: "Segoe Fluent Icons";
}

.wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    opacity: var(--wallpaperOpacity);
    transition-duration: .4s;
    animation: hubOpening .4s;
    background-color: var(--wallpaperColor);
    background-image: var(--wallpaperImg);
}

@keyframes hubOpening {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.defaultWatch {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s ease-out;
    gap: 10px
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    height: 60px;
}

.loadingDot {
    width: 40px;
    height: 40px;
    border-radius: 120px;
    background-color: var(--primary);
    animation: upAndDown 2s infinite;
}

@keyframes upAndDown {
    0% {
        margin-bottom: 0;
    }

    50% {
        margin-bottom: 120px;
    }

    100% {
        margin-bottom: 0%;
    }
}

.defaultWatch h1 {
    font-size: 160px;
    color: var(--watchColor)
}

.defaultWatch h2 {
    font-size: 50px;
    color: var(--watchColor)
}

.defaultWatch h3 {
    font-size: 30px;
    color: var(--watchColor)
}

.eventsBar {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #191919cc;
    box-sizing: border-box;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 50px;
    display: none;
}

.eventsBar f-icon {
    font-size: 6vw;
}

.eventsBar h1 {
    font-size: 3vw;
}

.homeMenu {
    position: fixed;
    bottom: -60%;
    left: 0;
    border-radius: 24px 24px 0 0;
    background-color: #19191999;
    width: 100%;
    height: 60%;
    transition: .4s ease-out;
    box-sizing: border-box;
    padding: 30px;
    z-index: 998;
    backdrop-filter: blur(14px);
}

.homeMenuAero {
    position: fixed;
    bottom: -60%;
    left: 0;
    border-radius: 24px 24px 0 0;
    background-color: #19191999;
    width: 100%;
    height: 60%;
    transition: .4s ease-out;
    box-sizing: border-box;
    padding: 30px;
    z-index: 998;
    backdrop-filter: blur(4px);
    overflow: hidden;
}

.homeMenuAero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../img/texture/aeroGlass.png);
    background-position: center;
    background-size: cover;
    opacity: .2;
}


.homeMenuLG {
    position: fixed;
    bottom: -60%;
    left: 0;
    border-radius: 24px 24px 0 0;
    background-color: #19191999;
    width: 100%;
    height: 60%;
    transition: .4s ease-out;
    box-sizing: border-box;
    padding: 30px;
    z-index: 998;
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
}

#hmClose {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: -100%;
    left: 0;
    transition: .4s ease-out;
    z-index: 997;

}

.homeMenuAccent {
    background-color: var(--transPrimary);
}

.homeMenu h1,
.homeMenuAccent h1,
.homeMenuLG h1,
.homeMenuAero h1 {
    font-size: 50px;
}

.homeMenu .abContainer,
.homeMenuAccent .abContainer,
.homeMenuLG .abContainer,
.homeMenuAero .abContainer {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
}

.abContainer button {
    height: 80%;
    aspect-ratio: 1;
    background-color: #191919cc;
    border-radius: 8px;
    border: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    transition-duration: .25s;
}

.abContainer button:hover {
    box-shadow: 0 0 12px 5px var(--primary);
}

.abContainer button f-icon {
    font-size: 80px;
}

.app {
    background-color: #19191999;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    display: none;
    padding-top: 80px;
}

.appHeader {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 30px;
}

.appHeader.backHeader {
    width: calc(100% - 40px)
}

.loading {
    border-radius: 50%;
    animation: circleLoading 1s linear infinite;
    position: relative;
}

.loading::after {
    content: '';
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
}

.appHeader .loading {
    width: 30px;
    height: 30px;
    border: 5px solid var(--primary);
}

.appHeader .loading::after {
    width: 16px;
    height: 16px;
    top: -8px;
}

.introMsg .loading {
    width: 60px;
    height: 60px;
    border: 10px solid var(--primary);
}

.introMsg .loading::after {
    width: 30px;
    height: 30px;
    top: -15px;
}

@keyframes circleLoading {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.appContent {
    width: 100%;
    height: calc(100dvh - 80px);
    box-sizing: border-box;
    padding: 30px;
    animation: hubOpening .4s;
    transition-duration: .4s;
    overflow-y: auto;
}

.primBtn {
    background-color: var(--primary);
    color: var(--primaryColor);
    padding: 15px 40px;
    border-radius: 120px;
    border: none;
    font-size: 20px;
    transition-duration: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.secBtn {
    background-color: #191919;
    color: aliceblue;
    padding: 15px 40px;
    border-radius: 120px;
    border: none;
    font-size: 20px;
    transition-duration: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.primBtn:hover,
.secBtn:hover {
    box-shadow: 0 0 12px 5px var(--primary);
}

.popUp {
    width: 60%;
    height: 80%;
    background-color: #202020;
    position: absolute;
    top: 10%;
    left: calc(50% - 30%);
    z-index: 1001;
    border-radius: 30px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    overflow: hidden;
    display: none;
    opacity: 0;
    scale: .9;
}

.popUp .PUC {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;

    font-size: 20px;
}

.popUp h1 {
    font-size: 40px;
}

.popUp label {
    font-size: 25px;
}

.popUp input[type="text"],
.popUp input[type="date"] {
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    font-family: "Quicksand";
    border-radius: 8px;
    background-color: #595959;
    color: aliceblue;
    border: 1px solid #494949;
    border-bottom: 2px solid #494949;
    box-sizing: border-box;
    transition-duration: .2s;
    width: 100%;
}

.popUp input[type="text"]::placeholder,
.popUp input[type="date"]::placeholder {
    color: #a0a0a0;
}

.popUp input[type="text"]:focus,
.popUp input[type="date"]:focus {
    outline: none;
    border-bottom-color: var(--primary);
    box-shadow: 0 0 12px 2px var(--primary);
}

.popUp .PUF {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #101010;
    border-top: 2px solid var(--primary);
    display: flex;
    box-sizing: border-box;
    padding: 0 30px;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.addBtn {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 120px;
    font-size: 20px;
    padding: 10px;
    background-color: #19191999;
    color: aliceblue;
    transition-duration: .25s;
}

.addBtn:hover {
    background-color: #191919;
    box-shadow: 0 0 12px 5px var(--primary);
}

/*Todo*/
.todoBox {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    border: none;
    border-radius: 16px;
    font-size: 30px;
    padding: 20px 40px;
    background-color: #19191999;
    color: aliceblue;
    transition-duration: .25s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.todoDelBtn {
    font-size: 25px;
    font-family: 'Segoe Fluent Icons';
    background-color: transparent;
    border: none;
    color: aliceblue;
}

.todoBox div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.todoBox .infoDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.todoBox .infoDiv span {
    font-size: 20px;
}

.todoBox.todoChecked {
    opacity: 0.6;
}

.todoBox.todoChecked p {
    text-decoration: line-through;
}

/*Settings*/

.sSubPage {
    display: none;
}

.sSubPage .introMsg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;
}

.sSubPage .introMsg h1 {
    font-size: 60px;
}


.sSubPage .introMsg h2 {
    font-size: 40px;
}

.sSubPage .introMsg .screen {
    width: 266px;
    height: 150px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 10px solid #000;
    background-position: center;
    background-size: cover;
    background-color: var(--wallpaperColor);
    background-image: var(--wallpaperImg);
}

.sSubPage .introMsg .configInfo.persona {
    width: calc(100% - 286px);
    height: 150px;
    margin-bottom: 0;
}

.setBtns {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

.configBtn {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border: none;
    border-radius: 120px;
    font-size: 30px;
    padding: 20px 40px;
    background-color: #19191999;
    color: aliceblue;
    transition-duration: .25s;
}

.configBtn:hover {
    background-color: #191919;
    box-shadow: 0 0 12px 5px var(--primary);
}

#backSettings {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    padding: 5px;
    position: absolute;
    left: -15px;
    color: aliceblue;
    font-size: 20px;
    transition-duration: .1s;
}

#backSettings:hover {
    filter: drop-shadow(1px 1px 5px white);
}

.configInfo {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    border: none;
    border-radius: 16px;
    font-size: 30px;
    padding: 20px 40px;
    background-color: #19191999;
    color: aliceblue;
    transition-duration: .25s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}



@media (max-height: 500px) {
    ::-webkit-scrollbar {
        appearance: none;
        width: 3px;
    }

    .noPhoneShow {
        display: none;
    }

    .defaultWatch h1 {
        font-size: 100px;
    }

    .defaultWatch h2 {
        font-size: 25px;
    }

    .homeMenu {
        bottom: -50%;
        height: 50%;
    }

    .homeMenu h1 {
        display: none;
    }

    .homeMenu .abContainer {
        height: 100%;
        padding: 5px;
    }

    .abContainer button {
        height: 100%;
        aspect-ratio: 1;
    }

    .abContainer button span {
        font-size: 20px;
    }

    .abContainer button f-icon {
        font-size: 50px;
    }

    .popUp .PUC {
        height: 75%;
        font-size: 15px;
    }

    .popUp .PUF {
        height: 25%;
    }
}

@media (max-width: 500px) {
    .phoneTurn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        background-color: var(--primary);
        color: white;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        text-align: center;
        animation: colorBloom 7s linear infinite;
    }

    @keyframes colorBloom {
        0% {
            background-color: black;
        }

        50% {
            background-color: var(--primary);
        }

        100% {
            background-color: black;
        }

    }

    .phoneTurn f-icon {
        font-size: 120px;
    }

    .phoneTurn h1 {
        font-size: 40px;
    }
}